body {
    background-color: #121212 !important;
}

p {
    font-size: larger;
}

button{
    margin-bottom: 20px;
}

img {
    border: solid 10px #121212;
    width: 100%;
    max-width: 100%;
    height: auto;
}